*{
	margin: 0;
	padding: 0;
}
p,h2 {
    margin: 0;
    padding: 0;
}
.wrap {
    background-image: 
        url(../img/bgimg2.jpg),
        url(../img/bgimg1.jpg);
    background-position: right, 0;
    background-repeat: no-repeat, repeat;
    background-size: auto 100%, auto;
    display: block;
    overflow-x: hidden;
}
.main {
    margin: 0 auto;
	width: 1000px;
}
.contents {
    overflow: hidden;
}
/*---ナビゲーション---*/
.navbar {
    margin-top: 20px;
}
.navbar-justified {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.navbar-justified > li {
    display: table-cell;
    width: 100%;
}

.nav li {
    border: 1px solid gray;
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
    font-size: 18px;
    font-weight: bold;
}

.nav li a {
    color: #337ab7;
    border-radius: 10px 10px 10px 10px / 10px 10px 10px 10px;
    transition: all 0.5s ease;  /* フェード処理 */
}
.nav li a:hover {
    background-color: darkcyan;
    color: paleturquoise;
}
/*---ENDナビゲーション---*/

/*---フッター設定---*/
.footer {
    background-color: darkslateblue;
	clear: both;
    color: paleturquoise;
	font-size: 18px;
    height: 180px;
    margin-top: 20px;
    height: 180px;
    opacity: 0.7;
    overflow: hidden;
    padding-top: 20px;
    position: relative;
    width: 1000px;
}
.footer .footer_left,
.footer_right {
    height: 110px;
    overflow: hidden;
}
.footer .footer_left {
    float: left;
    padding-left: 40px;
    width: 400px;
}
.footer .footer_left .tel {
    font-size: 36px;
    text-align: center;
}
.footer .footer_right {
    font-size: 16px;
    padding-left: 80px;
    width: 600px;
}
.footer .copy {
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
	text-align: center;
}
/*---ENDフッター---*/

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}