*{
	margin: 0 auto;
	padding: 0;
}
p,h2 {
    margin: 0;
    padding: 0;
}

body{
	background-color: #8B4513;
}

.wrap {
	width: 1000px;
	height: 100%;
}

.header img{
	width: 1000px;
	height: 400px;
}

/*---ナビゲーション---*/
nav {
    margin-top: 20px;
}
/*---ENDナビゲーション---*/

/*---main---*/
.main {
    overflow: hidden;
}

/*---新着情報---*/
.news {
	float: left;
    overflow: hidden;
	width: 638px;
}
.news h2 {
    border-left: solid 10px white;
    margin-left: 20px;
    padding-left: 10px;
}
.news .news_fb {
    margin-top: 20px;
    text-align: center;
}

/*---END新着情報---*/


/*---地図---*/
.map {
    background-color: white;
	float: left;
	height: 348px;
    margin-left: 13px;
    overflow: hidden;
    width: 348px;
}
.map h2 {
    border-left: solid 10px black;
    color: black;
    font-size: 24px;
    margin: 10px;
    padding-left: 5px;
}

.link section {
    float: left;
    margin-top: 20px;
    margin-left: 30px;
}
.link section img {
    height: 100px;
    width: 320px;
}

/*---END地図---*/


/*---フッター設定---*/
.footer {
    border: 1px solid black;
	clear: both;
	font-size: 18px;
	height: 54px;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
    position: relative;
    width: 998px;
}
.footer .tel{
    padding-right: 10px;
	text-align: right;
}
.footer .copy{
	text-align: center;
}
/*---ENDフッター---*/