*{
	margin: 0 auto;
	padding: 0;
}
p,h2 {
    margin: 0;
    padding: 0;
}

body{
	background-color: #8B4513;
}

.wrap {
	width: 1000px;
	height: 100%;
}

.header {
    height: 300px;
    overflow: hidden;
    text-align: center;
	width: 1000px;
}


/*---main---*/
.main {
    overflow: hidden;
}

/*---新着情報---*/
.news {
	float: left;
    overflow: hidden;
	width: 638px;
}
.news h2 {
    border-left: solid 10px white;
    margin-left: 20px;
    padding-left: 10px;
}
.news .news_fb {
    margin-top: 20px;
    text-align: center;
}

/*---END新着情報---*/


/*---地図---*/
.map {
    background-color: white;
	float: left;
	height: 348px;
    margin-left: 13px;
    overflow: hidden;
    width: 348px;
}
.map h2 {
    border-left: solid 10px black;
    color: black;
    font-size: 24px;
    margin: 10px;
    padding-left: 5px;
}

.link section {
    float: left;
    margin-top: 20px;
    margin-left: 30px;
}
.link section img {
    height: 80px;
    width: 320px;
}

/*---END地図---*/


/*---フッター設定---*/
.footer {
    background-image: url(../img/common/img_1.jpg);
	clear: both;
    color: paleturquoise;
	font-size: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
    overflow: hidden;
    padding-top: 20px;
    position: relative;
    width: 100%;
}
.footer .footer_left,
.footer_right {
    overflow: hidden;
}
.footer .footer_left {
    float: left;
    padding-left: 40px;
    width: 400px;
}
.footer .footer_left .tel {
    font-size: 36px;
    text-align: center;
}
.footer .footer_right {
    font-size: 16px;
    padding-left: 80px;
    width: 600px;
}
.footer .copy {
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
	text-align: center;
}
/*---ENDフッター---*/