.header {
    height: 300px;
    overflow: hidden;
    text-align: center;
	width: 1000px;
}
.header img {
    width: 1000px;
}

/*---indexのコンテンツ---*/
.contents {
    overflow: hidden;
    padding-left: 20px;
    padding-right: 20px;
}
/*---ENDコンテンツ---*/
.left_contents {
    float: left;
    margin: 0 auto;
    overflow: hidden;
	width: 578px;
}

.right_contents {
    margin: 0 auto;
    overflow: hidden;
}

/*---新着情報---*/
.news {
    margin: 10px;
}
.news h2 {
    border-left: solid 10px black;
    color: black;
    font-size: 28px;
    padding-left: 5px;
}
.news_fb {
    margin: 20px;
}
/*---END新着情報---*/

/*---右側のコンテンツ---*/
.right_contents {
    overflow: hidden;
    width: 322px;
}

/*---地図---*/
.map {
	height: auto;
}
.map h2 {
    border-left: solid 10px black;
    color: black;
    font-size: 28px;
    margin: 10px;
    padding-left: 5px;
}
/*---END地図---*/

/*---バナー---*/
.link {
    height: auto;
    overflow: hidden;
}
.link section {
    margin-top: 20px;
    text-align: center;
}
.link section img {
    height: 80px;
    width: 320px;
}
/*---ENDバナー---*/
/*---END右側コンテンツ---*/

