*{
	margin: 0;
	padding: 0;
}
p,h2 {
    margin: 0;
    padding: 0;
}
.wrap {
    background-image: url(../../img/bgimg.jpg);
    display: block;
    overflow-x: hidden;
}
.main {
    margin: 0 auto;
    height: 100%;
    width: 1000px;
}

.header {
    height: 300px;
    overflow: hidden;
    text-align: center;
	width: 1000px;
}

/*---indexのコンテンツ---*/
.contents {
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
}
/*---ENDコンテンツ---*/
.left_contents {
    float: left;
    overflow: hidden;
	width: 578px;
}

/*---新着情報---*/
.news h2 {
    border-left: solid 10px white;
    padding-left: 10px;
}

/*---END新着情報---*/

/*---右側のコンテンツ---*/
.right_contents {
    overflow: hidden;
    width: 322px;
}

/*---地図---*/
.map {
	height: auto;
}
.map h2 {
    border-left: solid 10px black;
    color: black;
    font-size: 24px;
    margin: 10px;
    padding-left: 5px;
}
/*---END地図---*/

/*---バナー---*/
.link {
    height: auto;
    overflow: hidden;
}
.link section {
    margin-top: 20px;
    text-align: center;
}
.link section img {
    height: 80px;
    width: 320px;
}
/*---ENDバナー---*/
/*---END右側コンテンツ---*/

