*{
	margin: 0 auto;
	padding: 0;
}
p,h2,h3,h4 {
    margin: 0;
    padding: 0;
}

body {
    background-color: #8B4513;
}

/*---mainコンテンツ---*/
.main {
    height: auto;
	width: 1000px;	
}

.header {
    background-image: url("../../img/index/header.jpg");
    height: 100px;
    width: 1000px;
}

/*---ナビゲーション---*/
nav {
    margin-top: 20px;
}
/*---ENDナビゲーション---*/


/*---コンテンツ---*/
.menu_contents {
	background-color: white;
	border-radius: 0 0 10px 10px / 0 0 10px 10px;
	overflow: hidden;
	padding: 15px 25px;
}
.menu_contents li {
	float: left;
	height: 200px;
	list-style: none;
	margin-top: 10px;
	margin-bottom: 55px;
	position: relative;
	width: 250px;
}
.menu_contents .center_margin {
	margin-right: 100px;
	margin-left: 100px;
}
.menu_contents .cool,
.menu_contents .hot {
	font-size: 20px;
	font-weight: bold;
	right: 0;
	position: absolute;
	text-align: center;
	width: 30px;
	height: 30px;
}
.menu_contents .cool {
	color: skyblue;
}
.menu_contents .hot {
	color: red;
}
.menu_contents li h2,
.menu_contents li h3 {
	text-align: center;
}
.menu_contents li h2 {
	font-size: 24px;
	padding-top: 10px;
}
.menu_contents li h3 {
	font-size: 22px;
}
.menu_contents li img {
	
	height: 100%;
	width: 100%;
}
/*---ENDコンテンツ---*/